services:
  oncube-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: oncube-web
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - .env
    volumes:
      - oncube-storage:/app/storage
      - oncube-database:/app/database
      - oncube-writable:/app/writable
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/certbot:/var/www/certbot
    restart: unless-stopped
    command: >
      sh -c "
      chown -R application:application /app/storage /app/writable /app/database &&
      chmod -R 775 /app/storage /app/writable /app/database &&
      php artisan config:cache &&
      php artisan route:cache &&
      php artisan view:cache &&
      supervisord -c /opt/docker/etc/supervisor.conf
      "

volumes:
  oncube-storage:
    driver: local
  oncube-database:
    driver: local
  oncube-writable:
    driver: local
